.loginFullPage{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 3;
    /* background-image: url(/images/loginWallpaper.jpg);
     */
    /* background: linear-gradient(to bottom, #b4edff, #004d8d); */
    background-image: linear-gradient(rgb(0, 73, 96), rgb(0, 62, 113));
    .loginFullPageContainer{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
        .loginContainer{
            display: flex;
            border-radius: 9px;
            .login{
                z-index: 2;
                background-color: #23272A;
                width: 26vw;
                padding: 60px 0;
                height: auto;
                color: white;
                justify-content: center;
                display: flex;
                flex-direction: column;
                line-height: 34px;
                box-shadow: rgba(60, 64, 67, 9.3) 0px 1px 2px 0px, rgba(60, 64, 67, 4.15) 0px 2px 6px 2px;
                .loginFormHeading{
                    overflow: hidden;
                    font-size: 31px;
                    font-weight: bold;
                }
                .loginFromLableInput{
                    width: 80%;
                    font-size: 14px;
                    border-radius: 4px;
                    outline: none;
                    padding: 4px 10px;
                    border: none;
                    height: 30px;
                }
                .forgetPassword{
                    font-size: small;
                    margin-left: 69%;
                    cursor: pointer;
                    &:hover{
                        color:#404EED;
                    }
                }
                .submitBtn{
                    display: flex;
                    justify-content: center;
                    gap: 15px;
                    padding: 3%;
                    &.loginBtn{
                        cursor: pointer;
                        width: 18vw;
                        min-width: fit-content;
                        font-size: 16px;
                        font-weight: 600;
                        /* padding: 6px; */
                        &.googleBtn{
                            background-color: white;
                            color: black;
                            .googleImage{
                                width: 1vw;
                            }
                        }
                        background-color: #404EED;
                        color: white;
                        padding: 11px;
                        border-radius: 4px;
                        border: none;
                        transition: background-color 0.5s;
                        &:hover{
                            background-color: #7780e2;
                            color: black;
                        }
                    }
                }
                .loginOr{
                    text-align: center;
                }
                .loginSocial{
                    margin-top: 2%;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    /* gap: 17px; */
                    &.socialImages{
                        height: 4.5vh;
                        }
                }
                @media screen and (max-width:1250px) {
                    width: 40vw;
                }
                @media screen and (max-width:700px) {
                    width: 59vw;
                }
            }
            .loginRightSide{
                background-color: white;
                /* width: 26vw; */
                .loginPageImage{
                    /* width: 26vw; */
                    height: 40vh;
                    margin-top: 22%;
                }
                @media screen and (max-width:700px) {
                    display: none;
                }
            }
        }
        
    }
}
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .loginInputContainer{
    margin-left: 14%;
    display: grid;
  }
  a{
    text-decoration: none;
  }
  .ancherTagRegister{
    color: red;
    cursor: pointer;
}
.loginPageNavigationbtn{
    position: absolute;
    cursor: pointer;
    width: 8vw;
    min-width: fit-content;
    font-size: 16px;
    padding: 6px;
    border: none;
    border-radius: 9px;
    &:hover{
        background-color: #7780e2;
        color: black;
    }
}
